---
import ArchivePanel from "@components/ArchivePanel.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPostsList } from "../utils/content-utils";

const sortedPostsList = await getSortedPostsList();
---

<MainGridLayout title={i18n(I18nKey.archive)}>
    <div class="max-w-[64rem] mx-auto pt-14 md:pt-20">
        <h1 class="transition font-display font-bold text-[2rem] md:text-[2.5rem] tracking-[0.01em] text-90 mb-10">
            {i18n(I18nKey.archive)}<span class="text-[var(--primary)]">.</span>
        </h1>
        <ArchivePanel sortedPosts={sortedPostsList} client:only="svelte"></ArchivePanel>
    </div>
</MainGridLayout>
